bio .container {
    display: flex;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
 .skills_container {
    display: block;
    width: 100%;
  }
  
.skill-items {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
.skill-items span {
    color: var(--main-color);
    font-size: 1.5rem;
  }
.skill-items h3 {
    color: var(--second-color);
    font-weight: normal;
    padding-bottom: 1.5rem;
    text-align: center;
  }
  bio .skill-items > div {
    border-radius: 10px;
    padding: 0.5rem;
    display: inline-flex;
    background-color: var(--second-bg-color);
    margin: 5px;
  }
  p,a{
    color: var(--second-color);
    font-weight: normal;
    transition: 0.3s;
  }
  bio i {
    font-size: 1.2rem;
    padding-right: 0.8rem;
  }
  bio .github a{
    display: inline-flex;
  }
  .fa-html5 {
    color: #ff7f50;
  }
  .fa-css3-alt {
    color: #6495ed;
  }
  .fa-js-square {
    color: #eeff00;
  }
  .fa-git-alt {
    color: #df4d18;
  }
  .fa-react {
    color: #44c9d3;
  }
  .fa-python {
    color: #1f6dd3;
  }
  .fa-bootstrap {
    color: #bf86ff;
  }
  /* Portfoilo image*/
  
  .blob {
    position: relative;
    right: 0;
    bottom: 0;
    width: 700px;
  }
  .blob .img {
    width: 400px;
    margin: 40px auto;
    max-width: 100%;
  }
  
  /*======More About Me======*/
  .about_me {
    text-align: center;
    margin-top: 50px;
  }
  .about_me button {
    cursor: pointer;
    display: grid;
    margin: 10px auto;
    background-color: var(--second-bg-color);
    color: var(--main-color); /*#df4d188*/
    padding: 10px 10px;
    border-radius: 7px;
    border: var(--second-bg-color);
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
  }
  .about_me button:hover,
  .github:hover{
    transform: scale(1.1);
  }
  .about_me #text {
    width: 80%;
    margin: 10px auto;
    color: var(--second-color);
    line-height: 25px;
    display: none;
    animation: drop-down 0.5s ease-out;
  }

  @keyframes drop-down {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 991px) {
    .about_me p {
      font-size: 14px;
    }
    .skills {
      margin-top: 0px;
    }
    .skills > div {
      padding: 3px;
      margin: 3px;
    }
  }
  @media screen and (max-width: 768px) {
    bio .container {
      display: block;
    }
    bio .blob{
      display: flex;
      width: 400px;
      margin: 0 auto;
    }
    bio .blob .img{
      width: 400px;
    }
    bio .about_me {
      margin-top: 50px;
    }
    bio .about_me {
      margin-top: 20px;
    }
    bio .skills > div {
      padding: 5;
      margin: 5px;
    }
  }