footer {
  border-top: 1px solid var(--main-color);
}
footer .container {
  position: relative;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
}
footer .copyright {
  color: var(--second-color);
  font-size: 15px;
}
footer .copyright a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 17px;
  padding: 0;
}
footer .icons {
  display: flex;
}
footer .icons a {
  padding: 0px 15px;
  font-size: 17px;
}
.fa-linkedin:hover {
  color: #4267b2;
}
.fa-facebook-f:hover {
  color: #1c4983;
}
.fa-twitter:hover {
  color: #1da1f2;
}
.fa-instagram:hover {
  color: #e1306c;
}
.fa-github:hover {
  color: #000;
}
@media screen and (max-width: 768px) {
  footer .container::before {
    display: none;
  }
  footer .container {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
